.appbar {
    margin-bottom: 25px;
}

.toolbar {
    background-color: purple;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navLink:visited {
    color: white;
}

.userMail {
    font-size: 13px;
    color: white;
    text-transform: lowercase;
}

.userMail:first-letter {
    text-transform: capitalize;
}
