.errorDiv {
    text-align: center;
}

h1 {
    font-size: 70px;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}